*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container div{
    height: 500px;
    flex-grow: 1;
    gap: 16px;
    padding: 10px;
    overflow: hidden;
}

.container img{
    height: 100%;
    width: 100%;
    filter: grayscale(1);/*tirar a cor*/
    transition: 2s;
}

.container img:hover{
    filter: grayscale(0);/*devolver a cor quando o mouse passar em cima*/
    transform: scale(1.2); /*tamanho que a foto fica quando passa o mouse*/
}